
.imageSize{
    height: 300px!important;
    object-fit: contain!important;
    margin:auto;
}

.cardTitle{
    font-size: 4px!important;
}
.carouselStyle{
    color:#000!important;
    align-items: center;
}

.price{
    font-weight: 600;
}

.mainTitle{
    font-size:26px;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
}

.secondTitle{
    font-size:20px;
    font-weight: 400;
    // margin-top: 8px;
}

.dateTitle{
    font-size:16px;
    font-weight: 300;
    // margin-top: 0.2em;
    color:rgb(46, 45, 45);
}

.price{
    color:rgb(41, 41, 41);
    font-size:28px;
    font-weight: 300;
}

.description{
    font-size:18px;
}

p{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 48px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.interested{
    font-size:24px;
    margin-top: 1em;
}
// .carousel-control-next-icon{
//     background-image : url(//url of icon);
// }
// .carousel-control-prev-icon{
//   background-image : url(//url of icon);
// }