.colorNav{
    background-color:#fff;
}
.navLinkStyle{
    font-size: 1.2em;
}

.navUserLinkStyle{
    margin-left: auto;
}

.brandStyle{
    font-size: 32px!important;
}

.logo{
    height:32px;
    vertical-align: middle;
}

.navbarStyle{
    margin-right: auto;
}